// color setup
// $body:;
// $bodyAlt:;
$main:#446CB3;
// $mid:;
// $dark:;
// $darkLight:;

$textMain:18px;
$textSmall:0.7rem;

// mixins

// type
body {
	font-family: "Open Sans";
	font-family: 'Merriweather', serif;
	font-size:$textMain;
	font-weight:normal;
}

h1,h2,h3,h4,h5 {
	// font-family: 'Meddon', cursive;
	font-weight:bolder;
	margin: 0.4rem;
}
h1 {
	// color:white;
	font-size:20px;

}
h2 {
	font-size:40px;
	padding:50px 0;
			@media screen and (max-width:767px){
		font-size: 30px;
	}
	position:relative;
			// border-bottom: 1px solid $main;

	&:after {
		max-width:200px;
		// max-width: 600px;
		// height:2px;
		// background:$main;
		// line-height: 0;
		// height:20px;
					border-top: 1px solid $main;
					border-bottom: 1px solid $main;

		color:$main;
		font-size: 26px;
		margin: 30px auto 0;
		letter-spacing: 10px;
		content:"\f1bb \f0fc \f02d";
		display:block;
		font-family: FontAwesome;
		// position: absolute;
		// bottom:0;
		// left:10%;
	}
}
h3 {

}
// elements
body,html {
	margin:0;
	padding:0;
}

div {
	margin:0;
	padding:0;
}
a {
	color:$main;
}
p {
	font-family: "Open Sans";
}

// theme
.scrollWrap {
	max-height:100%;
}
.toc {
	background: #fff;
	color:white;
	height:100%;
	left:-50%;
	// margin-right: 
	// padding-right: 40px;
	padding:0;
	position:fixed;
	top:0;
	width:50%;
	z-index:5;
	// background: url(../img/paper.jpg) repeat;
	color:#333;


	@media screen and (max-width:767px){
		width:90%;
		left:-90%;
	}
	
	.closeToc {
		padding:0;

		background: #222;
		border:0;
		color:white;
		height: 100%;
		position:absolute;
		right:-50px;
		top:0;
		width:50px;
		font-size: 30px;
		&:hover {
			background:$main;
		}
			// background: url(../img/wood.jpg) repeat;
			// box-shadow: inset 2px 2px 4px white,  inset -2px -2px 4px black;
			.fa-plus {
				width:40px;
				height:40px;
				border-radius: 40px;
				// background: #333;
				// border:1px solid white;
				// box-shadow:inset 0 0  7px #000;
				line-height: 40px;
			}

			@media screen and (max-width:767px){
				// font-size: px;
				width:30px;
				right:-30px;
				font-size: 14px;
				// padding: 10px 0px 10px 20px; 
				.fa-plus {
					box-shadow:none;
					height: auto;
					width:auto;
				}
			}
	}

	ul {
		list-style-type: none;
		margin:0;
		padding:0;
		li {				
			// border-bottom:1px dashed #999;
			margin:0 10px;

			padding: 0;
			a {
				color:$main;
				display: inline-block;
				// font-family: 'Meddon', cursive;
				width:100%;
				height:100%;
				padding:9px;
				text-decoration: none;
				&:hover {
					color:#313131;
				}
			}
		}
	}
	.col-1-2 {
		padding:10px;
		border-top:1px solid $main;
		font-size: 13px;
	}
	.col-1-2 a{
		// background: $main;
		color:$main;
		display: inline-block;
		border: 1px solid $main;
		margin-bottom: 5px;
		padding:10px;
		text-decoration: none;
		&:hover {
			color:white;
			background:$main;
		}
	}
	p{
		font-size: 80%;
		font-weight: lighter;
	}
}
.controls {
	// background: red;
	height:100%;
	position:fixed;
	right:0;
	top:0;
	z-index:4;
	display:none;
	button {
		background:none;
		border:0;
		font-size: 30px;
	}
	.pageDn {
		bottom:0;
		position:absolute;
		right:0;
	}
	.pageUp {
		bottom:0;
		// position:absolute;
		right:0;
	}
}
.stage {
	background: white;
	// height:100%;
	left:0;
	overflow:hidden;
margin:0;
	padding:0px;


	// position:absolute;
	top:0;
	width:100%;
	z-index:2;

	.frame {
		background: white;
		opacity: 0;
		text-align: center;
margin:0;
padding:20px 50px;
		p {
			font-weight: lighter;
			display: block;
			margin: 0 auto;
			max-width:800px;
			padding:4px 50px;
			text-align: left;
			line-height: 1.7;
			// width: 50%;
			@media screen and (max-width:767px){
				font-size: 13px;
				padding:0;
				line-height: 1.3;
			}

		}
		.credits {
			font-size: 25px;
			padding:20px 0;
			text-align: center;
			background:red;
		}
		.ending {
			font-size:120%;
			margin-bottom: 100px;
		}
	}
	.homeFrame {
		background:#313131;
		// background: url('../img/home.jpg')  no-repeat center center fixed;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		color:white;
		text-align: center; 
		p {
			max-width: 100%;
			text-align: center;
			width: 100%;
		}
	}
}

.ps-container .ps-scrollbar-x-rail {
    position: absolute; /* please don't change 'position' */
    bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity=0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-x-rail,
.ps-container.hover .ps-scrollbar-x-rail {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ps-container .ps-scrollbar-x-rail:hover,
.ps-container .ps-scrollbar-x-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-x-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-y-rail,
.ps-container.hover .ps-scrollbar-y-rail {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.ps-container .ps-scrollbar-y-rail:hover,
.ps-container .ps-scrollbar-y-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-y-rail.in-scrolling {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-x {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,
.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
    background-color: #999;
}

.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container.ie6 .ps-scrollbar-y {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #999;
}

.ps-container.ie .ps-scrollbar-x,
.ps-container.ie .ps-scrollbar-y {
    visibility: hidden;
}

.ps-container.ie:hover .ps-scrollbar-x,
.ps-container.ie:hover .ps-scrollbar-y,
.ps-container.ie.hover .ps-scrollbar-x,
.ps-container.ie.hover .ps-scrollbar-y {
    visibility: visible;
}

// pages